<div class="row">
  <div class="col-md-8">
    <leaflet defaults="Main.map.defaults" layers="Main.map.layers" lf-center="Main.map.center" height="480px" width="100%"></leaflet>
  </div>
  <div class="col-md-4">

    <form name="csvForm" ng-submit="Main.renderHeatmap(csvForm)">
      <div class="form-group">
        <label class="control-label">CSV File</label>
        <input ng-model="Main.csvRows" type="file" name="csv" ng-change="Main.csvChanged()" csv-reader />
      </div>
      <div class="form-group">
        <label class="control-label" for="intensity">Point intensity (%)</label>
        <input type="number" name="intensity" min="0" max="100" ng-model="Main.pointIntensity" class="form-control" id="intensity" />
      </div>
      <div class="form-group">
        <label class="control-label" for="radius">Point radius (meters)</label>
        <input name="radius" type="number" min="0" max="10000" ng-model="Main.heatmapOptions.size" class="form-control" id="radius" />
      </div>

      <div class="form-group" ng-class="{'has-error': csvForm.$submitted && csvForm.latitudeColumn.$invalid}">
        <label class="control-label" for="latitudeColumn">Latitude column</label>
        <select name="latitudeColumn" class="form-control" ng-model="Main.latitudeColumn" required id="latitudeColumn">
          <option ng-repeat="headerName in Main.header">{{ headerName }}</option>
        </select>
        <div ng-messages="csvForm.latitudeColumn.$error" ng-show="csvForm.$submitted">
          <div ng-messages-include="error-messages"></div>
        </div>
      </div>

      <div class="form-group" ng-class="{'has-error': csvForm.$submitted && csvForm.longitudeColumn.$invalid}">
        <label class="control-label" for="longitudeColumn">Longitude column</label>
        <select name="longitudeColumn" class="form-control" ng-model="Main.longitudeColumn" required id="longitudeColumn">
          <option ng-repeat="headerName in Main.header">{{ headerName }}</option>
        </select>
        <div ng-messages="csvForm.longitudeColumn.$error" ng-show="csvForm.$submitted">
          <div ng-messages-include="error-messages"></div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Render heatmap</button>
    </form>

  </div>
</div>