<div class="row">
  <div class="col-md-8" style="margin-bottom: 2em;">
    <leaflet defaults="Main.map.defaults" layers="Main.map.layers" lf-center="Main.map.center" height="400px" width="100%"></leaflet>

    <div ng-if="Main.filterByColumn" style="margin: 1em 0;">
      <a class="btn btn-default btn-sm" ng-click="Main.setFilterSelected(Main.filterOptions)">Select all</a>
      <a class="btn btn-default btn-sm" ng-click="Main.setFilterSelected([])">Select none</a>
    </div>

    <table class="table table-condensed table-hover" ng-if="Main.filterByColumn">
      <tbody>
      <tr ng-repeat="filterValue in Main.filterOptions" ng-click="Main.toggleFilterSelected(filterValue)" style="cursor: pointer" class="no-text-select">
        <td style="width: 1%">
          <i class="glyphicon glyphicon-unchecked" ng-show="!Main.isFilterSelected(filterValue)"></i>
          <i class="glyphicon glyphicon-check" ng-show="Main.isFilterSelected(filterValue)"></i>
        </td>
        <td>{{ ::filterValue }}</td>
        <td></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-4" style="margin-bottom: 2em;">

    <form name="csvForm" ng-submit="Main.renderHeatmap(csvForm)">
      <div class="form-group" ng-class="{'has-error': csvForm.$submitted && csvForm.csv.$invalid}">
        <label class="control-label" for="csv">CSV File</label>
        <input ng-model="Main.csvRows" type="file" name="csv" ng-change="Main.csvChanged()" csv-reader id="csv" />
        <div ng-messages="csvForm.csv.$error" ng-show="csvForm.$submitted">
          <div ng-messages-include="error-messages"></div>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label" for="intensity">Point intensity (%)</label>
        <input type="number" name="intensity" min="0" max="100" ng-model="Main.pointIntensity" class="form-control" id="intensity" />
      </div>
      <div class="form-group">
        <label class="control-label" for="radius">Point radius (meters)</label>
        <input name="radius" type="number" min="0" max="10000" ng-model="Main.heatmapOptions.size" class="form-control" id="radius" />
      </div>

      <div class="form-group" ng-class="{'has-error': csvForm.$submitted && csvForm.latitudeColumn.$invalid}">
        <label class="control-label" for="latitudeColumn">Latitude column</label>
        <select name="latitudeColumn" class="form-control" ng-model="Main.latitudeColumn" required id="latitudeColumn" ng-change="Main.fitBounds()">
          <option ng-repeat="headerName in Main.header">{{ headerName }}</option>
        </select>
        <div ng-messages="csvForm.latitudeColumn.$error" ng-show="csvForm.$submitted">
          <div ng-messages-include="error-messages"></div>
        </div>
      </div>

      <div class="form-group" ng-class="{'has-error': csvForm.$submitted && csvForm.longitudeColumn.$invalid}">
        <label class="control-label" for="longitudeColumn">Longitude column</label>
        <select name="longitudeColumn" class="form-control" ng-model="Main.longitudeColumn" required id="longitudeColumn" ng-change="Main.fitBounds()">
          <option ng-repeat="headerName in Main.header">{{ headerName }}</option>
        </select>
        <div ng-messages="csvForm.longitudeColumn.$error" ng-show="csvForm.$submitted">
          <div ng-messages-include="error-messages"></div>
        </div>
      </div>


      <div class="form-group" ng-class="{'has-error': csvForm.filterByColumn.$invalid}">
        <label class="control-label" for="filterByColumn">Filter by column (optional)</label>
        <select name="filterByColumn" class="form-control" ng-model="Main.filterByColumn" id="filterByColumn" ng-change="Main.filterByColumnChanged(csvForm.filterByColumn)" heatfilter="Main.csvRows">
          <option ng-repeat="headerName in Main.header">{{ headerName }}</option>
        </select>
        <div ng-messages="csvForm.filterByColumn.$error">
          <div ng-messages-include="error-messages"></div>
        </div>
      </div>

      <button type="submit" class="btn btn-primary">Render heatmap</button>
    </form>

  </div>
</div>
