<div class="row">
  <div class="col-md-8" style="margin-bottom: 2em;">
    <leaflet defaults="Main.map.defaults" layers="Main.map.layers" lf-center="Main.map.center" height="400px" width="100%"></leaflet>

    <div ng-if="Main.filterByColumn" style="margin: 1em 0;">
      <a class="btn btn-default btn-sm" ng-click="Main.setFilterSelected(Main.filterOptions)">Select all</a>
      <a class="btn btn-default btn-sm" ng-click="Main.setFilterSelected([])">Select none</a>
    </div>

    <table class="table table-condensed table-hover" ng-if="Main.filterByColumn">
      <tbody>
      <tr ng-repeat="filterValue in Main.filterOptions" ng-click="Main.toggleFilterSelected(filterValue)" style="cursor: pointer" class="no-text-select">
        <td style="width: 1%">
          <i class="glyphicon glyphicon-unchecked" ng-show="!Main.isFilterSelected(filterValue)"></i>
          <i class="glyphicon glyphicon-check" ng-show="Main.isFilterSelected(filterValue)"></i>
        </td>
        <td>{{ ::filterValue }}</td>
        <td></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-4" style="margin-bottom: 2em;">

    <form name="csvForm" ng-submit="Main.renderHeatmap(csvForm)">

      <control-group field-label="CSV File" field-name="csvFile">
        <input name="csvFile" type="file" ng-model="Main.csvRows" ng-change="Main.csvChanged()" csv-reader />
      </control-group>

      <control-group field-label="Point intensity (%)" field-name="intensity">
        <input name="intensity" type="number" min="0" max="100" ng-model="Main.pointIntensity" class="form-control" />
      </control-group>

      <control-group field-label="Point radius (meters)" field-name="radius">
        <input name="radius" type="number" min="0" max="10000" ng-model="Main.heatmapOptions.size" class="form-control" />
      </control-group>

      <control-group field-label="Latitude column" field-name="latitudeColumn">
        <select name="latitudeColumn" ng-model="Main.latitudeColumn" required ng-change="Main.fitBounds(csvForm.latitudeColumn, csvForm.longitudeColumn)" coordinate-column="Main.csvRows[0]" class="form-control">
          <option ng-repeat="headerName in Main.header">{{ headerName }}</option>
        </select>
      </control-group>

      <control-group field-label="Longitude column" field-name="longitudeColumn">
        <select name="longitudeColumn" ng-model="Main.longitudeColumn" required ng-change="Main.fitBounds(csvForm.latitudeColumn, csvForm.longitudeColumn)" coordinate-column="Main.csvRows[0]" class="form-control">
          <option ng-repeat="headerName in Main.header">{{ headerName }}</option>
        </select>
      </control-group>

      <control-group field-label="Filter by column (optional)" field-name="filterByColumn">
        <select name="filterByColumn" ng-model="Main.filterByColumn" ng-change="Main.filterByColumnChanged(csvForm.filterByColumn)" filter-column="Main.csvRows" class="form-control">
          <option value="">---None---</option>
          <option ng-repeat="headerName in Main.header">{{ headerName }}</option>
        </select>
      </control-group>

      <button type="submit" class="btn btn-primary" ng-disabled="csvForm.$invalid && csvForm.$submitted">Render heatmap</button>
    </form>

  </div>
</div>
